*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
.logo img{
    width: 80px;
}
#navbarSupportedContent #ticket{
    color: #18fc03;
}

#carrusel .carousel-item img{
    height: 80vh;
    filter: brightness(0.5);
}

#carrusel .texto-carrusel{
    position: absolute;
    width: 28vw;
    right: 9%;
    bottom: 22%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: end;
}
.pie{
    height: 5vh;
    background-image: linear-gradient(to right, #1D3744 , #1E5372);
    color: #fff;
}
